<div class="home">
  <div class="buttons">
    @if (superAdmin) {
  <button>Super Admin</button> &nbsp;
      <button> Admin</button>
    } @else if(Admin) {
 <button> Admin</button>
    }
    @else {
      <h2> No Access</h2>
    }

  </div>
  <div>
    @switch (color) {
      @case ('red') {
        <h2>This is red</h2>
      }
      @default {
        <h2>This is empty</h2>
      }
    }
  </div>
  <app-child [items]="itemList" (selectedItemEvent)="onSelctedItem($event)"></app-child>
   <p> Selected Item: {{ selectedItem }}</p>

</div>
